body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 30%;
}

.value {
  font-weight: 700;
  font-size: 55px;
}

.label {
  font-weight: 500;
  font-size: 25px;
}

.field {
  margin-left: 20px;
}

input {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  border-radius: 3px;
  border: 1px solid;
  font-weight: 500;
  font-size: 25px;
}

input:hover,
input:focus {
  border-color: #2196f3;
}

button {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 20px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 500;
  font-size: 25px;
  background-color: #2196f3;
  color: #000000;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #c4c4c4;
}
